.button {
    -fx-background-image: url('pics/send.png');
    -fx-background-size: 100% 100%;
    -fx-opacity: 0.6;

}

.button:hover {
    -fx-opacity: 0.95
}

.button:pressed {
    -fx-scale-y: 0.93;
    -fx-scale-x: 0.93;
}